*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img{
    display: block;
    border: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none
}

a{
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

span{
    display: block;
}

